*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

/* TITOLO layout team */
h1{
    font-size: 40px;
    color: rgb(228, 32, 123);
    text-align: center;
     padding: 35px;
}

/* FINE TITOLO layout team */

/* INIZIO MAIN */
.container{
    width: 75%;
    margin: auto;
}

.subtitle{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

/* CARD TEAM */
.row{
    width: 100%;
    margin-top: 30px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    width: calc((100% - 60px) / 3);
    float: left;
}

.center{
    margin-left: 30px;
    margin-right: 30px;
}
.card{
    height: 100px;
    /* border: 1px solid; */
    background-color: rgb(14, 19, 31);

}

/* CONTENUTO CARD */
.card img{
    width: 98px;
    height: 100%;
    float: left;
    vertical-align: middle;
}

.card::after{
    content: "";
    display: table;
    clear: both;
}

/* TESTO CARD */
.text-professionist{
    float: left;
    line-height: 29px;
    width: calc(100%-98px);
    height: 100%;
}

.text-professionist div {
    margin-left: 10px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.text-professionist div:first-child{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.text-professionist div:last-child{
    color: rgb(0, 153, 241);
}

.text-professionist div:nth-child(2){
    color: white;
}
/* Fine Testo CARD */

/* FINE CONTENUTO CARD */